.heading{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    

}

.heading>:nth-child(1){
    color: rgb(15, 15, 19);
    font-size: 1rem;
    background-color: white;
     
}
.filterBtn{
    margin: 20px;
    width: 100px;
    height: 35px;
    padding: 0.5rem;
}
.searchInput{
    
    background-color: white;
    margin-left: 900px;
}

.feature{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   gap: 1rem; 
   width:30%;
   background-color: white;
   flex: 0 0 calc(33.33% - 20px); /* Three items in a row, with some margin */
  margin: 10px;
  box-sizing: border-box;
     
}
.ImageWrap{
    width: 20rem;
    height: 20rem;
    position: relative;
    width: 75%;
    padding-bottom: 25%; 
}
.feature>:nth-child(2){
    font-weight: bold;
}
.feature>:nth-child(3){
    color: darkslategray;
    word-wrap: break-word;
    width: 20rem;
    text-align: center;
}
.btn{
    padding: 0.5rem;
    margin-left: 10px;
}
.stars {
    display: flex;
         justify-content: center;
    margin-top: 10px;
    color: yellow;
  }